.md-typeset .admonition {
  font-size: 0.75rem; /* 设置为你需要的字体大小 */
}
.md-typeset .admonition-title {
  font-size: 0.7rem; /* 设置为你需要的字体大小 */
}
.md-typeset .admonition-content {
  font-size: 0.75rem; /* 设置为你需要的字体大小 */
}